.container {
    width: 100%;
    text-align: center;
    overflow-y: auto;
}

.flag_grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-height: 70vh;
    overflow-y: auto;
    place-items: center;
    margin: 11rem auto 0 auto;
}

.flag_card {
    width: 200px !important;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px hsla(var(--primary-color-hsl), 0.5);
    text-align: center;
    background-color: var(--primary-color-light);
    transition: transform 0.2s;
    transition: background-color 0.6s;
}

.flag_card:hover {
    transform: translateY(-5px);
    background-color: var(--primary-color-text);
}

.flag_card img {
    height: 70px !important;
    border-radius: 4px;
    margin-bottom: 10px;
}

.flag_card p {
    font-size: 1em;
    color: var(--primary-color-text);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flag_card:hover p {
    color: var(--primary-color);
}

.search_bar {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
}

.search_icon {
    color: #333;
    position: absolute;
    right: 8px;
}

.search_icon:hover {
    width: 20px;
    height: 20px;
}

.top {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    top: 0;
    font-size: 1.2em;
    width: 100%;
}
.Homediv {
    background-color: var(--primary-color-light);
}

.country_info {
    display: flex; /* row */
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-text);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--primary-color);
    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px;
}

.country_info img {
    width: 2rem; /* fixed width */
    height: 2rem;
    object-fit: contain; /* keep aspect ratio */
    margin: 0 1px 0 1px;
}

.country_info .icon_container {
    display: flex;
    align-items: center;
    gap: 1px;
}
.flag_card:hover .country_info {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

.pagination {
    position: absolute;
    bottom: 0;
}
