.container {
    width: 100%;
    text-align: center;
    overflow-y: auto;
}

.top {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    top: 0;
    font-size: 1.2em;
    width: 100%;
}

.datatable .p-datatable-wrapper {
    min-height: 60vh;
}

.datatable-wrapper {
    margin: 0 auto;
    text-align: center;
    margin: 11rem auto 0 auto;
    width: 80%;
}
